<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include ../common/head.ejs %>
    <body>
    <%- include ./body.ejs %>
    <%- include ../common/footer.ejs %>
    <%- include ../common/scriptPack.ejs %>
    </body>
</html>