<footer>
    <a href="http://www.resumablejs.com/" target="_blank">Resumable.js demo</a>
    <span>by</span>
    <a href="https://www.youtube.com/channel/UCSsg9NLCse2XQCIRgfmJu3Q" target="_blank"><%= brand %> © 2019</a>
</footer>