* {
    margin: 0;
}
html, body {
    height: 100%;
}
/* ---------------- Common styles ------------------ */
body {
    font: 1em/1.5 Arial, Sans-serif;
    margin: 0;
    background: #e9e9e9;
    display: flex;
    flex-direction: column;
}
a {
    color: #465362;
    transition: .2s;
    cursor: pointer;
}
a:hover {
    color: #4196a4;
    transition: .2s;
}
header, footer, main, div {
    box-sizing: border-box;
}
header, footer {
    background: #465362;
    padding: 1.5em;
    color: #ffffff;
}
footer {
    text-align: center;
}
header a, footer a, footer span {
    color: #ffffff;
    opacity: .5;
    transition: .3s;
}
header a:hover, footer a:hover, header li.active a {
    opacity: 1;
    transition: .3s;
}
header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header nav ul li {
    margin: 0 1em 0 0;
    line-height: 1.2;
    padding: .5em;
}
main {
    flex-grow: 1;
}
img, iframe {
    max-width: 100%;
    height: auto;
    display: block;
}
.flex-col, .flex-row {
    display: flex;
}
.flex-row {
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-col {
    flex-direction: column;
}
.flex-center {
    justify-content: center;
}
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 1.5em auto;
    padding: 0 .5em;
    text-align: center;
}
.item {
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    padding: 1.5em;
    margin: .5em .5em;
}
.wrapper .item > img {
    margin: 0 auto;
}
.wrapper .item span {
    display: inline-block;
    margin: 1em 0 0 0;
}
.wrapper .masonry {
    column-count: 4;
    column-gap: 1em;
    padding: 0 .5em;
    overflow: auto;
}
.wrapper .item {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}
.upload-common {
    min-height: 120px;
}
.type-holder {
    margin: 1.5em 1em 0 0;
}
.type-holder select {
    padding: .6em 1em;
    font-size: 1.25em;
}
.upload-holder {
    overflow: hidden;
    position: relative;
    display: inline-block;
    background-color: #465362;
    color: #ffffff;
    padding: .75em 1em;
    margin: 2em 0 1em;
    border-radius: .25em;
    font-size: 1.25em;
    cursor: pointer;
}
.upload-holder:hover {
    background-color: #3f667e;
}
.upload-holder [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.progress-cancel-link {margin-left: 10px;}

/* Resumable.js demo styles */
/*
* MIT Licensed
* http://www.23developer.com/opensource
* http://github.com/23/resumable.js
* Steffen Tiedemann Christensen, steffen@23company.com
*/
/* Uploader: Drag & Drop */
.resumable-error {display:none; font-size:14px; font-style:italic;}
.resumable-drop {padding:15px; font-size:13px; text-align:center; color:#666; font-weight:bold;background-color:#eee; border:2px dashed #aaa; border-radius:10px; margin-top:40px; z-index:9999; display:none;}
.resumable-dragover {padding:30px; color:#555; background-color:#ddd; border:1px solid #999;}

/* Uploader: Progress bar */
.resumable-progress {margin:30px 0 30px 0; width:100%; display:none;}
.progress-container {height:7px; background:#9CBD94; position:relative; }
.progress-bar {position:absolute; top:0; left:0; bottom:0; background:#45913A; width:0;}
.progress-text {font-size:11px; line-height:9px; padding-left:10px;}
.progress-pause {padding:0 0 0 7px;}
.progress-resume-link {display:none;}
.is-paused .progress-resume-link {display:inline;}
.is-paused .progress-pause-link {display:none;}
.is-complete .progress-pause {display:none;}

/* Uploader: List of items being uploaded */
.resumable-list {overflow:auto; text-align: left; display:none;}
.uploader-item {width:148px; height:90px; background-color:#666; position:relative; border:2px solid black; float:left; margin:0 6px 6px 0;}
.uploader-item-thumbnail {width:100%; height:100%; position:absolute; top:0; left:0;}
.uploader-item img.uploader-item-thumbnail {opacity:0;}
.uploader-item-creating-thumbnail {padding:0 5px; font-size:9px; color:white;}
.uploader-item-title {position:absolute; font-size:9px; line-height:11px; padding:3px 50px 3px 5px; bottom:0; left:0; right:0; color:white; background-color:rgba(0,0,0,0.6); min-height:27px;}
.uploader-item-status {position:absolute; bottom:3px; right:3px;}

/* Uploader: Hover & Active status */
.uploader-item:hover, .is-active .uploader-item {border-color:#4a873c; cursor:pointer; }
.uploader-item:hover .uploader-item-title, .is-active .uploader-item .uploader-item-title {background-color:rgba(74,135,60,0.8);}

/* Uploader: Error status */
.is-error .uploader-item:hover, .is-active.is-error .uploader-item {border-color:#900;}
.is-error .uploader-item:hover .uploader-item-title, .is-active.is-error .uploader-item .uploader-item-title {background-color:rgba(153,0,0,0.6);}
.is-error .uploader-item-creating-thumbnail {display:none;}